{% load static %}

<!-- navbar -->
<nav class="navbar navbar-expand-lg bg-blue sticky-top px-2 py-1">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img
        src="{% static 'image/logo1.png' %}"
        alt="logo"
        width="80rem"
        height="80rem"
        class="d-inline-block align-text-top img-fluid logo-image"
      />
    </a>
    <a class="navbar-brand fs-5 text-white fontsize1" href="{% url 'home' %}">
      Preranadai Rani Laxmibai Mahila <br />
      Bahuudeshiya Sanstha
    </a>
    <button
      class="navbar-toggler text-white"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item text-center">
          <a
            class="nav-link fs-5 m-1 px-2 border-hover active-page text-white fontsize2"
            aria-current="page"
            href="{% url 'home' %}"
            >HOME</a
          >
        </li>
        <li class="nav-item dropdown text-center">
          <a
            class="nav-link m-1 border-hover text-white px-2 fs-5 fontsize2"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            GALLERY
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a
                class="dropdown-item fs-5 bg-transparent orange-hover text-black"
                href="{% url 'work' %}"
                >Work</a
              >
            </li>
            <li>
              <a
                class="dropdown-item fs-5 bg-transparent orange-hover text-black"
                href="{% url 'certificate' %}"
                >Certificate</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item text-center">
          <a
            class="nav-link m-1 border-hover text-white px-2 fs-5 fontsize2"
            href="{% url 'aboutus' %}"
            >ABOUT US</a
          >
        </li>
        <li class="nav-item dropdown text-center">
          <a
            class="nav-link m-1 border-hover px-3 text-white fs-5 fontsize2"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            PROFILE
          </a>
          <ul
            class="dropdown-menu"
            style="width: 17rem"
            aria-labelledby="navbarDropdown"
          >
            <li class="ms-3 text-black fs-3" href="#">Welcome</li>
            <li class="m-2 fs-5 text-black">Admin Login Only!</li>
            <li>
              <form class="d-flex px-2">
                <a
                  type="button"
                  href="login.html"
                  class="col-4 btn btn-outline text-orange btn-shadow mx-1 mt-2"
                  >LOGIN</a
                >
                <a
                  type="button"
                  href="#"
                  class="col-4 btn btn-outline text-orange btn-shadow mx-1 mt-2"
                  >LOGOUT</a
                >
              </form>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a
                class="dropdown-item ps-3 fs-5 bg-transparent orange-hover text-black"
                href="{% url 'foundernote' %}"
                >Founder Message</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item fs-5 text-center">
          <a
            class="nav-link m-1 px-2 text-white border-hover fontsize2"
            href="https://razorpay.me/@prernadayiranilaxmibaimahilab"
            >DONATION</a
          >
        </li>
        <li class="nav-item fs-5 text-center">
          <a
            class="nav-link m-1 px-2 text-white border-hover fontsize2"
            href="{% url 'contactus' %}"
            >CONTACT US</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
