{% extends 'base.html' %}
<!-- cloudinary -->
{% load cloudinary %}
<!-- load static -->
{% load static %}

<!-- Content Block -->

{% block PAGE_CONTENT %}
<section>
  <div class="container py-5">
    <hr class="m-auto pt-1 mb-1 bg-orange toporangeline border-0" />
    <h1 class="text-center text-blue font1">CERTIFICATE</h1>
    <a
      href="/admin/mainpages/certificatemodel/add/"
      target="_blank"
      class="float-end btn bg-orange text-white btn-shadow addbtn px-4"
    >
      <i class="bi bi-plus-lg"></i> ADD
    </a>
    
    <div class="row container">
      {% for cert in certificates %}
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        {% cloudinary cert.certificate_image class="aspect-3-4 img-fluid img-cover mt-5 mx-2 rounded-3 p-2 boxshadow" %}
      </div>
      {% endfor %} 
  </div>
</section>
{% endblock PAGE_CONTENT %}
