{% extends 'base.html' %}
<!-- load static -->
{% load static %}

<!-- Content Block -->

{% block PAGE_CONTENT %}
<section>
  <div class="container py-5">
    <hr class="m-auto pt-1 mb-1 bg-orange toporangeline border-0" />
    <h1 class="text-center text-blue font1">CONTACT US</h1>
    <div class="row my-5 px-1">
      <div class="d-flex flex-column">
        <h3>Contact us anytime. We are here to help you.</h3>
        <div class="pt-4">
          <img
            src="{% static 'image/phone-call.png' %}"
            alt=""
            class="img-fluid"
            style="width: 2.5rem"
          />
          <a
            href="tel:+919527252047"
            class="fs-4 font3 my-2 text-decoration-none text-black ps-4"
            >9527252047</a
          >
        </div>
        <div class="pt-4">
          <img
            src="{% static 'image/whats-app.png' %}"
            alt=""
            class="img-fluid"
            style="width: 2.5rem"
          />
          <a
            href="https://api.whatsapp.com/send?phone=919527252047&text=Got%20your%20reference%20from%20your%20*website%20*.%20I%20want%20to%20know%20more%20about%20your%20services"
            class="fs-4 font3 my-2 text-decoration-none text-black ps-4"
            >9527252047</a
          >
        </div>
        <div class="pt-4">
          <img
            src="{% static 'image/gmail.png' %}"
            alt=""
            class="img-fluid"
            style="width: 2.5rem"
          />
          <a
            href="mailto:mungulealka188@gmail.com"
            class="fs-4 font3 my-2 text-decoration-none text-black ps-4"
            >mungulealka188@gmail.com</a
          >
        </div>
        <div class="pt-4">
          <img
            src="{% static 'image/building.png' %}"
            alt=""
            class="img-fluid"
            style="width: 2.5rem"
          />
          <span class="fs-4 font3 my-2 text-decoration-none text-black ps-4"
            >Opposite Bhavishya Nidhi Office Somwari Quater NO 180/4, Nagpur,
            Maharashtra, India - 440016</span
          >
        </div>
        <!-- <div class="pt-4">
                        <img src="{% static 'image/map.png' %}" alt="" class="img-fluid" style=" width: 2.5rem ">
                        <a href="#" class="fs-4 font3 my-2 text-decoration-none text-black ps-4">Location</a>
                    </div> -->
      </div>
    </div>
    <div class="row">
      <h3>Follow Us</h3>
      <div class="my-3">
        <a
          href="https://www.facebook.com/Jeevan-Chhaya-Nursing-Care-Center-342579426254027/"
          target="_blank"
          ><img
            src="{% static 'image/fb.jpg' %}"
            class=""
            style="width: 2.5rem"
            alt=""
        /></a>
        <a
          href="https://youtube.com/channel/UCPHamn4W2Z-o-KVa35Oym-A"
          target="_blank"
          ><img
            src="{% static 'image/yt.png' %}"
            class=""
            style="width: 2.5rem"
            alt=""
        /></a>
        <!-- <a href=""><img src="{% static 'image/instagram.png' %}" class="ms-3"  style="width: 2.5rem" alt="" /></a> -->
      </div>
      <div></div>
    </div>
  </div>
</section>
{% endblock PAGE_CONTENT %}
